extends layout

block content
    h1= title
    form(id='BankForm', action="/resource/Bank", method="POST") 
        div.form-group(style="color: blue; background-color: lightpink")
            label.BankAttr(for='Bank_name') Bank name
            input#Bank_name(type='text', name='Bank_name')
        div.form-group(style="color: blue; background-color: lightpink")
            label.BankAttr(for='Bank_place') Bank place
            input#Bank_place(type='text', name='Bank_place')
        div.form-group(style="color: blue; background-color: lightpink")
            label.BankAttr(for='limit') Limit
            input#limit(type='number', name='limit')
        input(type="submit")(style="color: red; background-color: yellow")

    script.
        document.forms['BankForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeeded");
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed: " + error);
            });
        });

